n8n Flow_ Daily Test Execution Summary Reporter.json
{
  "name": "n8n Flow: Daily Test Execution Summary Reporter",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "6cdcda41-5acc-45e8-8a8b-22f546e0e7f9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}",
        "options": {
          "systemMessage": "Role: You are an Expert QA Lead.\nTask: Analyze the provided raw test execution data and generate a high-level executive summary.\nRequirements:\nPass Rate: Calculate and clearly state the overall pass/fail percentage.\nCritical Failures: Highlight specific modules that failed and their error codes.\nRisk Analysis: Identify which modules are \"High Risk\" based on the failures.\nRecommended Actions: Provide 2-3 technical steps for the dev team to take.\nTone: Professional, concise, and data-driven."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        448,
        0
      ],
      "id": "d9159a56-c894-4549-9d64-21f9c8ac9a3e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        528,
        224
      ],
      "id": "c446a123-af7c-4c63-9c9e-4558c3a4e00d",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "1I3ccVOaWd1Qx5dS",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15uvnYcI3IXbdjiWXcBcpNH2ZIRCmAcYNlrgvqseJ68g",
          "mode": "list",
          "cachedResultName": "SampleTD",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15uvnYcI3IXbdjiWXcBcpNH2ZIRCmAcYNlrgvqseJ68g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15uvnYcI3IXbdjiWXcBcpNH2ZIRCmAcYNlrgvqseJ68g/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        0
      ],
      "id": "a0a640c3-68ad-405f-9462-904063631f7c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CQ8s654s3LdwOCYg",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "text": "Test results",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        800,
        0
      ],
      "id": "977b8514-329e-4c52-9cb7-026b26f0d5ed",
      "name": "Send a message",
      "webhookId": "b09d2d6d-4d23-45b2-bf70-f725ab1bbf60",
      "credentials": {
        "slackOAuth2Api": {
          "id": "06tAKMj6K1NuMQsl",
          "name": "Slack account 6"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5ad9ce11-8acc-43a3-8fde-cd2de8bccec1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b31f389eb20b4300bac7922d08b2d7361da09cffa3d9ad39f79980e54b9d196b"
  },
  "id": "zJj8gjLrZs6Xt92u",
  "tags": []
}